.dot {
  width: 2rem;
  height: 2rem;
  border: 1px #ccc solid;
  border-radius: 50%;
}

.home nav ul {
  display: flex;
  justify-content: space-around;
}
.home nav li {
  list-style-type: none;
}

button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.heroesChart rect {
  fill: teal;
}
.unitsChart rect {
  fill: #008706;
}

.heroesChart text, .unitsChart text {
  fill: white;
  font: 1rem;
  text-anchor: start;
}
