.dot {
  width: 2rem;
  height: 2rem;
  border: 1px #ccc solid;
  border-radius: 50%;
}

button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.heroesChart rect {
  fill: teal;
}
.unitsChart rect {
  fill: blue;
}

.heroesChart text, .unitsChart text {
  fill: white;
  font: 1rem;
  text-anchor: start;
}
